html, body {
    margin: 0;
    height: 100%;
    line-height: 1;
/*    background: linear-gradient(to left, lightgreen, whitesmoke);
*/    /*background: radial-gradient(to left, lightgreen, whitesmoke);*/

}

.footerlinks {    
    color: black;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: olivedrab;
    }

#footer1 {
    background: darkgreen;
}

#footer2 {
    background: olivedrab;
}

.center {
    text-align: center;
}