html, body {
    margin: 0;
    height: 100%;
    line-height: 1;
}

.form1{

}

.footerlinks {
    color: darkgreen;
    text-decoration: none !important;
}

    .footerlinks:hover{
        color: olivedrab;
    }

#footer1 {
    background: darkgreen;
}

#footer2 {
    background: olivedrab;
}

.center {
    text-align: center;
}